%miniTitle {
  font-family: "Montserrat";
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
}

%italic {
  font-family: "Bitter", serif;
  font-style: italic;
}
